* {
    background:     #45475A;
    background-alt: #6272a4;
    foreground:     #bd93f9;
    border:         #bd93f9;
    border-alt:     #50fa7b;
    selected:       #ffb86c;
    urgent:         #ff5555;
    white:          #FFFFFF;
    cyan:           #8be9fd;
    green:          #50fa7b;
}
