snippet "iim" "Insert image" riA
[[img-$1]]
.$2
image::$3[align=center, title-align=center, width=35%]
$0
endsnippet

snippet "icd" "Inser code" riA
[source, $1, linenums, highlight]
----
$2
----
$0
endsnippet

snippet "ict" "Insert table" riA
.$1
[options="header,footer,autowidth"]
|====
| $2 | $3
| |
| |
|====
endsnippet
